@charset "UTF-8";
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
    font-weight: normal
}
body,
input,
textarea,
select,
button,
table {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
    color: #101010
}
ul,
ol {
    list-style: none
}
em,
address {
    font-style: normal
}
strong {
    font-weight: normal
}
a {
    text-decoration: none;
    color: #101010
}
a:hover,
a:active,
a:focus {
    text-decoration: none
}
label,
button,
a {
    cursor: pointer
}
img,
form,
fieldset,
button {
    border: 0;
    vertical-align: top
}
button,
input {
    outline: none;
    background: none
}
button span:active,
button span:focuse {
    position: relative;
    top: 0;
    left: 0
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none
}
select::-ms-expand {
    display: none
}
table {
    border-collapse: collapse;
    width: 100%
}
hr {
    display: none
}
#u_skip,
.blind,
.board .u_cbox_pre .u_cbox_ico_page,
.board .u_cbox_next .u_cbox_ico_page,
.materials .u_cbox_pre .u_cbox_ico_page,
.materials .u_cbox_next .u_cbox_ico_page,
legend {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0
}
caption {
    visibility: hidden;
    overflow: hidden;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0
}
input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none
}
.boardedit__titico,
.board .u_cbox .u_cbox_recomm_set .u_cbox_ico_recomm,
.materials .u_cbox .u_cbox_recomm_set .u_cbox_ico_recomm,
.popup__close,
.popup__close--white,
.header__tit--dao,
.mainbox3__itemby__like,
.board__sortingico,
.paging__prev,
.board .u_cbox .u_cbox_paginate .u_cbox_pre,
.materials .u_cbox .u_cbox_paginate .u_cbox_pre,
.paging__next,
.board .u_cbox .u_cbox_paginate .u_cbox_next,
.materials .u_cbox .u_cbox_paginate .u_cbox_next,
.paging__next.dm,
.board .u_cbox .u_cbox_paginate span.u_cbox_next,
.materials .u_cbox .u_cbox_paginate span.u_cbox_next,
.boardedit__fileico,
.quik__list,
.main__info_btn,
.main__info_btn.on,
.step1__badge,
.step1__step,
.step1__btn:after,
.step1__notice:before,
.gift__tit:before,
.entry__btn,
.step2__badge,
.step2__gift,
.stamp__item:after,
.stamp__item--nth5:after,
.stamp__item2:before,
.stamp__btn,
.stamp__btn--gift,
.step3__badge,
.step3__notice:before,
.step3__reply .u_cbox .u_cbox_write_box .u_cbox_btn_upload,
.sub__tit,
.partner__list,
.share,
.entryview__flickbtn--prev,
.entryview__flickbtn--next,
.entryview__by:before,
.entryview__opinion:before,
.play__close,
.giftpop:before,
.giftpop:after,
.giftpop__wrp:after,
.giftpop__none:before {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat
}
.mainbox__bg {
    background: url(http://playsw.phinf.naver.net/20150531_253/1433057626801qREf1_JPEG/bg_mainboxes.jpg) no-repeat 50% 0
}
.mainbox3__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    filter: alpha(opacity=10);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000
}
.board__subtopbar {
    display: inline-block;
    width: 1px;
    height: 10px;
    vertical-align: middle;
    background-color: #ced2d5
}
.boardedit__titico {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1305px -64px;
    width: 3px;
    height: 3px
}
.header__loginbtn,
.board__btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    height: 42px;
    padding: 0 19px;
    font-size: 16px;
    line-height: 39px;
    background-color: #fff;
    border: 1px solid #bababa
}
.board__btn--left {
    float: left;
    margin-right: 5px
}
.board__btn--right {
    float: right
}
.board__btn--center {
    margin-left: 10px
}
.header__loginbtn,
.board__btn--small {
    height: 36px;
    padding: 0 21px;
    line-height: 32px;
    font-size: 14px
}
.board__btn--smallcenter {
    margin-left: 5px
}
.board__btn--gray {
    background-color: #49494d;
    border-color: #49494d;
    color: #fff
}
.board__btn--gray:visited {
    color: #fff
}
.boardedit__addinput,
.confirm__fileinput,
.my__profile__form__checkbox {
    position: absolute;
    top: 0;
    left: -10px;
    opacity: 0.1;
    filter: alpha(opacity=10);
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px
}
.board,
.materials {}.board .u_cbox,
.board .u_cbox .u_cbox_recomm_set .u_cbox_btn_recomm,
.materials .u_cbox,
.materials .u_cbox .u_cbox_recomm_set .u_cbox_btn_recomm {
    background: #f3f3f3
}
.board .u_cbox,
.materials .u_cbox {
    margin-top: 68px
}
.board .u_cbox .u_cbox_head,
.materials .u_cbox .u_cbox_head {
    padding-bottom: 4px
}
.board .u_cbox .u_cbox_title,
.materials .u_cbox .u_cbox_title {
    font-size: 21px
}
.board .u_cbox .u_cbox_count,
.materials .u_cbox .u_cbox_count {
    padding-left: 7px;
    color: #4d8bfc;
    font-size: 15px
}
.board .u_cbox .u_cbox_write_box,
.materials .u_cbox .u_cbox_write_box {
    padding: 19px 20px 8px;
    background-color: #e9e9e6
}
.board .u_cbox .u_cbox_write .u_cbox_inbox,
.materials .u_cbox .u_cbox_write .u_cbox_inbox {
    padding-left: 9px
}
.board .u_cbox .u_cbox_comment_box,
.materials .u_cbox .u_cbox_comment_box {
    padding: 16px 0 8px
}
.board .u_cbox .u_cbox_name,
.materials .u_cbox .u_cbox_name {
    color: #101010
}
.board .u_cbox_contents,
.materials .u_cbox_contents {
    color: #444
}
.board .u_cbox .u_cbox_date,
.materials .u_cbox .u_cbox_date {
    color: #999
}
.board .u_cbox .u_cbox_info [class*=u_cbox_btn_],
.materials .u_cbox .u_cbox_info [class*=u_cbox_btn_] {
    color: #aaa
}
.board .u_cbox .u_cbox_paginate,
.materials .u_cbox .u_cbox_paginate {
    padding: 20px 0 12px
}
.board .u_cbox .u_cbox_paginate .u_cbox_next,
.board .u_cbox .u_cbox_paginate span.u_cbox_pre,
.materials .u_cbox .u_cbox_paginate .u_cbox_next,
.materials .u_cbox .u_cbox_paginate span.u_cbox_pre {
    visibility: visible;
    padding: 0;
    margin: 0
}
.board .u_cbox .u_cbox_paginate .u_cbox_next_end,
.board .u_cbox .u_cbox_paginate .u_cbox_pre_end,
.materials .u_cbox .u_cbox_paginate .u_cbox_next_end,
.materials .u_cbox .u_cbox_paginate .u_cbox_pre_end {
    visibility: hidden !important;
    display: none !important
}
.board .u_cbox .u_cbox_paginate .u_cbox_next,
.board .u_cbox .u_cbox_paginate .u_cbox_next_end,
.materials .u_cbox .u_cbox_paginate .u_cbox_next,
.materials .u_cbox .u_cbox_paginate .u_cbox_next_end {
    border: 0
}
.board .u_cbox .u_cbox_paginate .u_cbox_page,
.materials .u_cbox .u_cbox_paginate .u_cbox_page {
    padding: 0;
    border: 0;
    font-family: '나눔고딕', nanum gothic, '맑은고딕', malgun gothic, '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif
}
.board .u_cbox .u_cbox_paginate .u_cbox_page+.u_cbox_page,
.board .u_cbox .u_cbox_paginate .u_cbox_page ~ .u_cbox_page,
.materials .u_cbox .u_cbox_paginate .u_cbox_page+.u_cbox_page,
.materials .u_cbox .u_cbox_paginate .u_cbox_page ~ .u_cbox_page {
    margin: 0
}
.board .u_cbox .u_cbox_paginate .u_cbox_pre,
.board .u_cbox .u_cbox_paginate .u_cbox_next,
.materials .u_cbox .u_cbox_paginate .u_cbox_pre,
.materials .u_cbox .u_cbox_paginate .u_cbox_next {
    border: 1px solid #ccc
}
.board .u_cbox .u_cbox_paginate .u_cbox_pre:hover,
.board .u_cbox .u_cbox_paginate .u_cbox_next:hover,
.materials .u_cbox .u_cbox_paginate .u_cbox_pre:hover,
.materials .u_cbox .u_cbox_paginate .u_cbox_next:hover {
    border: 1px solid #ccc
}
.board .u_cbox .u_cbox_paginate .u_cbox_page.first-child,
.materials .u_cbox .u_cbox_paginate .u_cbox_page.first-child {
    margin-left: 10px
}
.board .u_cbox .u_cbox_paginate .u_cbox_page.last-child,
.materials .u_cbox .u_cbox_paginate .u_cbox_page.last-child {
    margin-right: 10px
}
.board .u_cbox .u_cbox_paginate .u_cbox_page,
.board .u_cbox .u_cbox_paginate .u_cbox_page:hover,
.materials .u_cbox .u_cbox_paginate .u_cbox_page,
.materials .u_cbox .u_cbox_paginate .u_cbox_page:hover {
    color: #101010
}
.board .u_cbox .u_cbox_paginate strong.u_cbox_page,
.board .u_cbox .u_cbox_paginate strong.u_cbox_page:hover,
.materials .u_cbox .u_cbox_paginate strong.u_cbox_page,
.materials .u_cbox .u_cbox_paginate strong.u_cbox_page:hover {
    color: #4d8bfc
}
.board .u_cbox .u_cbox_recomm_set,
.materials .u_cbox .u_cbox_recomm_set {
    overflow: hidden
}
.board .u_cbox .u_cbox_recomm_set .u_cbox_ico_recomm,
.materials .u_cbox .u_cbox_recomm_set .u_cbox_ico_recomm {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1275px -64px;
    width: 15px;
    height: 13px;
    padding: 0;
    margin: 4px 3px 0 0;
    font-size: 1px;
    text-indent: -50px
}
.board .u_cbox .u_cbox_recomm_set .u_cbox_cnt_recomm,
.materials .u_cbox .u_cbox_recomm_set .u_cbox_cnt_recomm {
    font-size: 14px;
    color: #888
}
.board .u_cbox .u_cbox_recomm_set .u_cbox_btn_recomm,
.materials .u_cbox .u_cbox_recomm_set .u_cbox_btn_recomm {
    line-height: 19px
}
.board .u_cbox .u_cbox_recomm_set .u_cbox_btn_recomm+.u_cbox_btn_recomm,
.materials .u_cbox .u_cbox_recomm_set .u_cbox_btn_recomm+.u_cbox_btn_recomm {
    display: none
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    z-index: 100
}
.popup__header {
    position: relative
}
.popup__title {
    height: 70px;
    padding: 0 40px;
    background: #49494d;
    line-height: 70px;
    font-size: 20px;
    color: #fff
}
.popup__close {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1050px -174px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 19px
}
.popup__close--white {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1016px -174px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 13px;
    right: 13px
}
.popup__wrp {
    padding: 32px 40px 0
}
.popup__wrp--table {
    display: table;
    height: 120px
}
.popup__wrp--table+.board__btnwrp {
    margin-top: -3px
}
.popup__tablist {
    zoom: 1;
    margin: 8px 0 12px
}
.popup__tablist:after {
    display: block;
    clear: both;
    content: ''
}
.popup__tab {
    float: left;
    width: 50%
}
.popup__tablink {
    display: block;
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
    border-right: 0;
    font-size: 14px;
    color: #49494d;
    line-height: 38px;
    text-align: center
}
.popup__tablink.on {
    color: #fff;
    font-weight: 600
}
.popup__tablink--materials.on {
    background: #000;
    border-color: #000
}
.popup__tab+.popup__tab .popup__tablink {
    border-right: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 2px 2px 0
}
.popup__tab+.popup__tab .popup__tablink--materials.on {
    border-color: #000
}
.popup__txt {
    font-size: 14px;
    color: #666;
    line-height: 28px
}
.popup__txt--table {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}
.popup__main {
    margin-top: 31px
}
.popup__subtitle {
    display: block;
    padding-bottom: 13px;
    font-size: 16px;
    font-weight: 600
}
.dim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: fixed;
    background: #000;
    z-index: 90
}
.header__cnt {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 1100px;
    height: 78px;
    margin: 0 auto;
    padding: 20px 0
}
.header__tit {
    display: inline-block;
    height: 38px
}
.header__tit--dao {
    background-image: url(../img/sp_e_dao.png);
    background-position: -637px -64px;
    width: 239px;
    height: 36px;
    vertical-align: top
}
.header__user {
    position: absolute;
    top: 21px;
    right: 0;
    z-index: 30
}
.header__loginbtn {
    vertical-align: top
}
.header__gnb {
    border-top: 1px solid #f2f2f2
}
.header__bg {
    opacity: 0.1;
    filter: alpha(opacity=10);
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000
}
.headeruser__namewrp {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 35px
}
.headeruser__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 132px;
    display: inline-block;
    vertical-align: top;
    color: #3ac286
}
.maincnt {
    zoom: 1;
    width: 1100px;
    margin: 0 auto;
    padding: 35px 0 15px
}
.maincnt:after {
    display: block;
    clear: both;
    content: ''
}
.maincnt__gridwrp {
    zoom: 1;
    margin-right: -20px;
    overflow: hidden
}
.maincnt__gridwrp:after {
    display: block;
    clear: both;
    content: ''
}
.maincnt__grid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 260px;
    margin: 0 20px 20px 0
}
.maincnt__grid--square {
    width: 260px
}
.mainbox__mouse {
    position: relative;
    display: block;
    width: 100%;
    height: 100%
}
.mainbox__border {
    display: block;
    width: 28px;
    height: 1px;
    margin: 18px auto 14px;
    background-color: #fff;
    opacity: 0.5;
    filter: alpha(opacity=50)
}
.mainbox__bg {
    background-color: #f3f3f3
}
.mainbox3 {
    display: block
}
.mainbox3__item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 104px;
    padding: 15px 19px 0;
    border: 1px solid #e0e0e0;
    border-top: 0
}
.mainbox3__itemtit {
    display: block;
    height: 48px;
    font-size: 18px;
    line-height: 24px;
    color: #444
}
.mainbox3__itemby {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #999
}
.mainbox3__itemby__cnt {
    display: inline-block;
    height: 15px;
    line-height: 12px;
    vertical-align: middle
}
.mainbox3__itemby__ico__wrapper {
    float: right
}
.mainbox3__itemby__like {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1220px -64px;
    width: 14px;
    height: 14px;
    margin: 0 5px 0 6px
}
.mainbox3__itemwrp {
    background-color: #fff
}
.mainbox3__thum {
    position: relative
}
.board__subtop {
    zoom: 1;
    margin-bottom: 13px;
    font-size: 16px
}
.board__subtop:after {
    display: block;
    clear: both;
    content: ''
}
.board__subtopleft {
    float: left
}
.board__subtopright {
    float: right
}
.board__subtoptxt {
    font-weight: 600
}
.board__subtoptxt--gray {
    color: #888
}
.board__subtoptxt--normal {
    font-weight: normal
}
.board__subtopbar {
    height: 14px;
    margin: 0 10px
}
.board__sorting {
    display: inline-block;
    margin-left: 10px
}
.board__sortingico {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1200px -64px;
    width: 16px;
    height: 14px;
    margin: -2px 2px 0 0
}
.board__sorting.board__subtoptxt--gray .board__sortingico {
    background-position: -1256px -64px
}
.board__main {
    position: relative;
    border-top: 2px solid #49494d;
    border-bottom: 1px solid #bababa
}
.board__btnwrp {
    zoom: 1;
    position: relative;
    margin-top: 15px;
    text-align: center
}
.board__btnwrp:after {
    display: block;
    clear: both;
    content: ''
}
.board__btnwrp--absolute {
    position: absolute;
    top: 17px;
    right: 0
}
.paging {
    padding-top: 20px;
    text-align: center
}
.paging__prev,
.board .u_cbox .u_cbox_paginate .u_cbox_pre,
.materials .u_cbox .u_cbox_paginate .u_cbox_pre {
    background-image: url(../img/sp_e_dao.png);
    background-position: -942px -174px;
    width: 33px;
    height: 33px;
    margin-right: 10px;
    border: 1px solid #ccc
}
.paging__prev.dm,
.board .u_cbox .u_cbox_paginate .dm.u_cbox_pre,
.materials .u_cbox .u_cbox_paginate .dm.u_cbox_pre,
.board .u_cbox .u_cbox_paginate span.u_cbox_pre,
.materials .u_cbox .u_cbox_paginate span.u_cbox_pre {
    background-position: -979px -174px
}
.paging__next,
.board .u_cbox .u_cbox_paginate .u_cbox_next,
.materials .u_cbox .u_cbox_paginate .u_cbox_next {
    background-image: url(../img/sp_e_dao.png);
    background-position: -905px -174px;
    width: 33px;
    height: 33px;
    margin-left: 10px;
    border: 1px solid #ccc
}
.paging__next.dm,
.board .u_cbox .u_cbox_paginate .dm.u_cbox_next,
.materials .u_cbox .u_cbox_paginate .dm.u_cbox_next,
.board .u_cbox .u_cbox_paginate span.u_cbox_next,
.materials .u_cbox .u_cbox_paginate span.u_cbox_next {
    background-image: url(../img/sp_e_dao.png);
    background-position: -868px -174px;
    width: 33px;
    height: 33px
}
.paging__numwrp {
    display: inline-block;
    text-align: center
}
.paging__num,
.board .u_cbox .u_cbox_paginate .u_cbox_page,
.materials .u_cbox .u_cbox_paginate .u_cbox_page,
.paging__num--strong {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 35px;
    font-weight: 600
}
.paging__num--strong {
    color: #4d8bfc
}
.paging ~ .search {
    padding-top: 50px
}
.boardedit {
    padding: 48px 50px 100px
}
.boardedit .board__main {
    border-bottom: 0
}
.boardedit__subject {
    padding-top: 20px;
    font-size: 14px
}
.boardedit__option {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 15px
}
.boardedit__option--high {
    margin: 0;
    border-top: 1px solid #e0e0e0
}
.boardedit__option--high:first-child {
    border: 0
}
.boardedit__tit {
    display: table-cell;
    height: 44px;
    width: 140px;
    vertical-align: top;
    font-weight: 600;
    line-height: 44px
}
.boardedit__titico {
    margin: 0 7px 2px 12px
}
.boardedit__tit--high {
    width: 170px;
    padding: 20px 0 0 20px;
    background-color: #f9f9f9
}
.boardedit__tit--mid {
    width: 170px;
    padding: 5px 0 0 20px;
    background-color: #f9f9f9
}
.boardedit__cnt {
    zoom: 1;
    position: relative;
    display: table-cell;
    height: 44px;
    line-height: 44px
}
.boardedit__cnt:after {
    display: block;
    clear: both;
    content: ''
}
.boardedit__cnt--high {
    padding: 20px
}
.boardedit__cnt--mid {
    padding: 5px 20px
}
.boardedit__input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 11px 15px;
    font-size: 14px;
    border: 1px solid #bababa;
    background-color: #fff
}
.boardedit__input:focus {
    color: #101010
}
.boardedit__input--narrow {
    width: 280px
}
.boardedit__input--narrow2 {
    width: 218px
}
.boardedit__input--narrow2+.boardedit__label {
    margin-left: 15px
}
.boardedit__addlist {
    float: left;
    height: 44px
}
.boardedit__add {
    position: relative;
    float: left;
    margin-right: 20px;
    color: #49494d;
    overflow: hidden
}
.boardedit__addlabel {
    display: block
}
.boardedit__addtxt {
    float: right;
    font-size: 12px;
    color: #888
}
.boardedit__filewrp {
    clear: both;
    margin-top: 6px;
    padding-bottom: 10px
}
.boardedit__filelist {
    background-color: #fff;
    border: 1px solid #bababa
}
.boardedit__file {
    position: relative;
    height: 44px;
    padding: 0 15px;
    font-size: 14px;
    border-top: 1px solid #e5e5e5
}
.boardedit__file:first-child {
    border: 0
}
.boardedit__filename {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%
}
.boardedit__fileico {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1294px -64px;
    width: 7px;
    height: 11px;
    margin: 0 4px 3px 0
}
.info__inner,
.step1,
.gift,
.step2__inner,
.stamp,
.step3__txtarea,
.step3__reply .u_cbox,
.sub,
.partner {
    position: relative;
    width: 1100px;
    margin: 0 auto
}
.main,
.info,
.step2,
.step3 {
    position: relative;
    min-width: 1100px;
    margin: 0 auto
}
.main {
    background: #000 url(../img/main.jpg) no-repeat 50% 0
}
.info {
    background: #e9f4e4 url(../img/info.jpg) no-repeat 50% 0
}
.step1__step1 {
    background: url(../img/step1-1.png) no-repeat 50% 0
}
.step1__step2 {
    background: url(../img/step1-2.png) no-repeat 50% 0
}
.gift__list {
    background: url(../img/gift.jpg) no-repeat 50% 0
}
.gift__list2 {
    background: url(../img/gift2.jpg) no-repeat 50% 0
}
.step3__txtarea {
    background: url(../img/step3.png) no-repeat 50% 0
}
.gift:after {
    width: 135px;
    height: 65px;
}
.step2__inner:after {
    width: 135px;
    height: 65px;
    background: url(../img/bg1-1.png) no-repeat 0 0
}
.step1:after {
    width: 462px;
    height: 222px;
}
.step2__inner:before {
    width: 462px;
    height: 222px;
    background: url(../img/bg2-1.png) no-repeat 0 0
}
.my__profile__form__checkbox__label {
    background: url(../img/sp_checkbox2.png) no-repeat
}
#content {
    overflow: hidden
}
#footer {
    padding: 19px 0 23px;
    background-color: #f3f3f3;
    text-align: center
}
.dao--opening {
    text-align: center
}
.quik {
    position: fixed;
    top: 190px;
    right: 30px;
    z-index: 80
}
.quik__list {
    background-image: url(../img/sp_e_dao.png);
    background-position: 0px -639px;
    width: 54px;
    height: 246px
}
.quik__item {
    margin-bottom: 10px
}
.quik__link {
    display: block;
    width: 54px;
    height: 54px
}
.main {
    height: 612px
}
.main__txt {
    padding-top: 302px;
    text-align: center;
    font-size: 23px;
    line-height: 31px;
    color: #333
}
.main__count {
    color: #26af5f
}
.main__info_btn {
    background-image: url(../img/sp_e_dao.png);
    background-position: -608px -314px;
    width: 155px;
    height: 126px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -77px
}
.main__info_btn.on {
    background-image: url(../img/sp_e_dao.png);
    background-position: -449px -314px;
    width: 155px;
    height: 126px
}
.info {
    height: 457px
}
.info__txtarea {
    padding: 93px 0 0 419px
}
.info__tit {
    font-size: 42px;
    color: #4bc148
}
.info__subtit {
    display: block;
    margin-top: 32px;
    font-size: 23px;
    font-weight: 600
}
.info__txt {
    margin-top: 9px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 25px;
    color: #888
}
.step__head {
    text-align: center
}
.step__tit {
    margin-top: 10px;
    font-size: 43px;
    line-height: 54px
}
.step__subtit {
    margin-top: 6px;
    font-size: 23px;
    color: #888
}
.step1 {
    padding-top: 100px
}
.step1:after {
    position: absolute;
    top: 0;
    right: -355px;
    content: ''
}
.step1__badge {
    background-image: url(../img/sp_e_dao.png);
    background-position: -286px -496px;
    width: 139px;
    height: 139px
}
.step1__point {
    display: block;
    color: #4caf50
}
.step1__item {
    padding-top: 60px
}
.step1__step {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(../img/sp_e_dao.png);
    background-position: -632px -174px;
    width: 174px;
    height: 76px;
    margin-bottom: -7px;
    padding: 20px 0 0 65px;
    font-size: 22px;
    font-weight: 900;
    color: #333;
}
.step1__txt {
    padding-left: 50px;
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 25px;
    color: #666
}
.step1__step1 {
    zoom: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 382px;
    padding-top: 290px
}
.step1__step1:after {
    display: block;
    clear: both;
    content: ''
}
.step1__step1_1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 100%;
    padding-right: 7px
}
.step1__step1_2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 100%;
    padding-left: 7px
}
.step1__step1_2 .step1__btn {
    background-color: #4481f1
}
.step1__step2 {
    height: 329px
}
.step1__btn {
    display: block;
    width: 263px;
    height: 58px;
    margin: 0 auto;
    line-height: 58px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: #0fa965
}
.step1__btn:after {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1296px -114px;
    width: 12px;
    height: 21px;
    margin-left: 70px;
    content: ''
}
.step1__notice {
    margin-top: 13px;
    font-size: 16px;
    color: #999;
    text-align: center
}
.step1__notice:before {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1135px -64px;
    width: 18px;
    height: 18px;
    margin: -2px 7px 0 0;
    content: ''
}
.gift {
    padding-top: 34px
}
.gift:after {
    position: absolute;
    top: 260px;
    right: -204px;
    content: ''
}
.gift__tit {
    font-size: 18px;
    color: #4caf50
}
.gift__tit:before {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1266px -114px;
    width: 26px;
    height: 26px;
    margin: -9px 7px 0 0;
    content: ''
}
.gift__list {
    zoom: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 211px;
    margin-top: 23px;
    padding-top: 192px
}
.gift__list:after {
    display: block;
    clear: both;
    content: ''
}
.gift__item {
    float: left;
    width: 33.3%;
    text-align: center;
    font-size: 16px;
    color: #666
}
.entry {
    margin-top: 68px
}
.entry__tit {
    text-align: center
}
.entry__btn {
    background-image: url(../img/sp_e_dao.png);
    background-position: 0px 0px;
    width: 633px;
    height: 110px
}
.entry__board {
    zoom: 1;
    margin-top: 73px;
    padding: 70px 0 129px;
    border-top: 1px solid #ebebeb
}
.entry__board:after {
    display: block;
    clear: both;
    content: ''
}
.entry__board .board__subtop {
    margin-bottom: 27px
}
.entry__board .board__subtoptxt {
    color: #15ba71
}
.entry__board .mainbox3__itemtit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    height: auto
}
.entry__board .paging__num--strong {
    color: #3ac286
}
.step2 {
    background-color: #f3f3f3
}
.step2__inner {
    padding-bottom: 170px
}
.step2__inner:before {
    position: absolute;
    top: 0;
    right: -350px;
    content: ''
}
.step2__inner:after {
    position: absolute;
    bottom: 220px;
    left: -294px;
    content: ''
}
.step2__badge {
    background-image: url(../img/sp_e_dao.png);
    background-position: 0px -496px;
    width: 139px;
    height: 139px;
    margin-top: -69px
}
.step2__point {
    display: block;
    color: #ff9204
}
.step2__gift {
    background-image: url(../img/sp_e_dao.png);
    background-position: -632px -114px;
    width: 506px;
    height: 56px;
    margin-top: 66px
}
.step2__info {
    height: 64px;
    margin-top: 40px;
    line-height: 64px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #d3d3d3
}
.stamp {
    margin-top: 40px
}
.stamp__list {
    zoom: 1
}
.stamp__list:after {
    display: block;
    clear: both;
    content: ''
}
.stamp__item {
    float: left;
    position: relative;
    margin-bottom: 52px
}
.stamp__item:after {
    background-image: url(../img/sp_e_dao-stamp.png);
    background-position: -749px -385px;
    width: 17px;
    height: 28px;
    margin: 0 18px 0 17px;
    content: ''
}
.stamp__item--nth5:after {
    position: absolute;
    bottom: -35px;
    right: 55px;
    background-image: url(../img/sp_e_dao-stamp.png);
    background-position: -728px -364px;
    width: 28px;
    height: 17px;
    content: ''
}
.stamp__item2 {
    float: right;
    position: relative
}
.stamp__item2:before {
    background-image: url(../img/sp_e_dao-stamp.png);
    background-position: -728px -385px;
    width: 17px;
    height: 28px;
    margin: 0 18px 0 17px;
    content: ''
}
.stamp__item2:first-child {
    margin-right: 2px
}
.stamp__item2--last:before {
    display: none
}
.stamp__btn {
    background-image: url(../img/sp_e_dao-stamp.png);
    background-position: -182px -182px;
    width: 178px;
    height: 178px
}
.stamp__btn:hover.stamp1 {
    background-position: -364px -364px
}
.stamp__btn:hover.stamp2 {
    background-position: 0px 0px
}
.stamp__btn:hover.stamp3 {
    background-position: 0px -546px
}
.stamp__btn:hover.stamp4 {
    background-position: -364px -546px
}
.stamp__btn:hover.stamp5 {
    background-position: -728px 0px
}
.stamp__btn:hover.stamp6 {
    background-position: -546px -182px
}
.stamp__btn:hover.stamp7 {
    background-position: -182px 0px
}
.stamp__btn.done.stamp1 {
    background-position: -182px -364px
}
.stamp__btn.done.stamp2 {
    background-position: -546px 0px
}
.stamp__btn.done.stamp3 {
    background-position: -546px -364px
}
.stamp__btn.done.stamp4 {
    background-position: -182px -546px
}
.stamp__btn.done.stamp5 {
    background-position: -546px -546px
}
.stamp__btn.done.stamp6 {
    background-position: -728px -182px
}
.stamp__btn.done.stamp7 {
    background-position: 0px -182px
}
.stamp__btn--gift {
    background-image: url(../img/sp_e_dao-stamp.png);
    background-position: -364px 0px;
    width: 178px;
    height: 178px
}
.stamp__btn--gift.gift1 {
    background-position: -364px 0px
}
.stamp__btn--gift.gift2 {
    background-position: -364px -182px
}
.stamp__btn--gift.gift3 {
    background-position: 0px -364px
}
.step3 {
    background-color: #71bdf6
}
.step3__badge {
    background-image: url(../img/sp_e_dao.png);
    background-position: -143px -496px;
    width: 139px;
    height: 139px;
    margin-top: -69px
}
.step3__point {
    display: block;
    color: #005cd9
}
.step3 .step__tit {
    color: #fff
}
.step3 .step__subtit {
    color: #1e669e
}
.step3__txtarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 384px;
    margin-top: 66px;
    padding: 300px 0 10px;
    text-align: center
}
.step3__txt {
    margin-top: -5px;
    font-size: 18px;
    line-height: 25px
}
.step3__point2 {
    color: #fff600;
    text-decoration: underline
}
.step3__notice {
    margin-top: 7px;
    font-size: 16px;
    color: #fff
}
.step3__notice:before {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1157px -64px;
    width: 18px;
    height: 18px;
    margin: -2px 7px 0 0;
    content: ''
}
.step3__check {
    position: absolute;
    top: 21px;
    right: 21px;
    width: 120px;
    height: 127px
}
.step3__reply {
    margin: 200px 0 53px;
    background-color: #fff
}
.step3__reply .u_cbox {
    padding-top: 28px;
    background: #fff
}
.step3__reply .u_cbox_write_wrap {
    position: absolute;
    top: -140px;
    left: 0;
    right: 0
}
.step3__reply .u_cbox .u_cbox_write .u_cbox_write_area {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    -o-border-top-left-radius: 10px;
    -o-border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 167px;
    border: 1px solid #71bdf6
}
.step3__reply .u_cbox .u_cbox_write_box {
    padding: 0;
    background: #71bdf6;
    border: 0
}
.step3__reply .u_cbox .u_cbox_write .u_cbox_inbox {
    padding-left: 20px;
    margin-top: -1px;
    border: 0
}
.step3__reply .u_cbox .u_cbox_write .u_cbox_inbox .u_cbox_text {
    margin-top: 1px;
    height: 75px;
    padding: 24px 0 0 33px
}
.step3__reply .u_cbox .u_cbox_write .u_cbox_inbox .u_cbox_guide {
    top: 24px;
    left: 50px;
    bottom: 24px
}
.step3__reply .u_cbox .u_cbox_write_box .u_cbox_btn_upload {
    background-image: url(../img/sp_e_dao.png);
    background-position: -767px -314px;
    width: 170px;
    height: 100px;
    border: 0;
    font-size: 0;
    line-height: 0
}
.step3__reply .u_cbox .u_cbox_recomm_set .u_cbox_btn_recomm {
    background: #fff
}
.bottom {
    background-color: #f3f3f3
}
.sub {
    zoom: 1;
    padding: 38px 0 35px
}
.sub:after {
    display: block;
    clear: both;
    content: ''
}
.sub__tit {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1142px -114px;
    width: 120px;
    height: 29px;
    float: left
}
.sub__txt {
    margin: -3px 0 0 148px;
    font-size: 13px;
    line-height: 23px;
    color: #a1a1a1
}
.partner {
    padding: 25px 0;
}
.partner__list {
    width: 1100px;
    height: 60px;
    zoom: 1
}
.partner__list:after {
    display: block;
    clear: both;
    content: ''
}
.partner__link {
    display: block;
    height: 100%
}
.footer__txt {
    display: inline-block;
    font-size: 14px;
    color: #737373;
    font-weight: 600
}
.share {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    zoom: 1;
    background-image: url(../img/sp_e_dao.png);
    background-position: -880px -64px;
    width: 251px;
    height: 23px;
    margin-left: 25px;
    padding-left: 17px
}
.share:after {
    display: block;
    clear: both;
    content: ''
}
.share__item {
    float: left;
    width: 40px;
    height: 100%;
    margin-left: 16px
}
.share__item:first-child {
    margin: 0
}
.share__link {
    display: inline-block;
    width: 100%;
    height: 100%
}
.confirm {
    position: absolute;
    width: 900px;
    height: 770px;
    margin-top: 80px
}
.confirm .board__main {
    border-bottom: 0
}
.confirm__form {
    border-bottom: 1px solid #bababa;
    font-size: 14px
}
.confirm__filebtn {
    position: relative;
    margin-top: -6px;
    overflow: hidden
}
.confirm__subtxt {
    margin-left: 10px;
    color: #888;
    font-size: 12px;
    line-height: 19px
}
.confirm__subtxt--strong {
    margin-top: 13px;
    font-weight: 600;
    line-height: 19px
}
.confirm__filewrp {
    margin-top: 7px
}
.confirm .boardedit__file {
    padding-right: 248px
}
.my__profile__form__option__data__item {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 137px;
    line-height: 45px;
    vertical-align: top
}
.my__profile__form__option__data__item2 {
    float: right
}
.my__profile__form__option__data__item2:first-child {
    float: left
}
.my__profile__form__checkbox:checked+label {
    background-position: 0 -20px
}
.my__profile__form__checkbox__label {
    padding-left: 23px;
    margin: 10px 0 0 -3px;
    font-size: 14px
}
.my__profile__form__checkbox__label.on {
    background-position: 0 -20px
}
.my__profile__form__textlabel {
    padding-right: 7px
}
.boardedit__input+.confirm__subtxt,
.boardedit__filelist+.confirm__subtxt {
    margin-top: 9px
}
.join {
    position: absolute;
    top: 1150px;
    margin: 0 auto;
    width: 900px;
    height: 913px
}
.join__point {
    color: #4d8bfc
}
.join__ico {
    position: relative
}
.join__ico:before {
    position: absolute;
    top: 7px;
    left: -9px;
    display: block;
    width: 3px;
    height: 3px;
    background-color: #7f7f7f;
    content: ''
}
.join__btn {
    background-color: #3ac286;
    color: #fff;
    border-color: #3ac286
}
.popup__title--join {
    background: #3ac286
}
.agree {
    margin-top: 49px
}
.agree__tit {
    display: block;
    padding-bottom: 9px;
    font-size: 14px;
    font-weight: 600
}
.agree__wrp {
    padding: 11px 0 10px 31px;
    border: 1px solid #d5d5d5
}
.agree__txt {
    font-size: 12px;
    color: #555;
    line-height: 20px;
    font-family: dotum, '돋움'
}
.agree__inputwrp {
    padding-top: 6px
}
.agree__checkbox {
    vertical-align: middle
}
.agree__label {
    padding-left: 9px;
    font-size: 11px;
    color: #555;
    font-family: dotum, '돋움'
}
.entryview {
    width: 900px;
    height: 550px
}
.entryview__flick {
    height: 480px;
    overflow: hidden
}
.entryview__flickbtn {
    position: absolute;
    top: 210px;
    z-index: 10
}
.entryview__flickbtn--prev {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1183px -314px;
    width: 46px;
    height: 62px;
    left: 31px
}
.entryview__flickbtn--prev:hover {
    background-position: -1133px -314px
}
.entryview__flickbtn--next {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1283px -314px;
    width: 46px;
    height: 62px;
    right: 31px
}
.entryview__flickbtn--next:hover {
    background-position: -1233px -314px
}
.entryview__cnt {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    zoom: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 12px 30px 12px 40px;
    background-color: #3ac286;
    color: #fff
}
.entryview__cnt:after {
    display: block;
    clear: both;
    content: ''
}
.entryview__txt {
    float: left
}
.entryview__by:before {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1312px -114px;
    width: 14px;
    height: 15px;
    content: '';
    margin: -2px 9px 0 0
}
.entryview__bar:after {
    display: inline-block;
    width: 1px;
    height: 14px;
    vertical-align: middle;
    content: '';
    margin: -2px 10px 0;
    background-color: #fff
}
.entryview__opinion {
    margin-top: 8px
}
.entryview__opinion:before {
    background-image: url(../img/sp_e_dao.png);
    background-position: -1179px -64px;
    width: 17px;
    height: 14px;
    content: '';
    margin: -2px 9px 0 0
}
.entryview__like {
    float: right
}
.play__popup {
    width: 820px;
    height: 496px;
    background-color: #000
}
.play__close {
    position: absolute;
    top: -10px;
    right: -55px;
    background-image: url(../img/sp_e_dao.png);
    background-position: -810px -174px;
    width: 54px;
    height: 54px
}
.play__stage {
    width: 100%;
    height: 100%
}
.giftpop {
    width: 619px;
    height: 343px
}
.giftpop:before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/sp_e_dao.png);
    background-position: -1037px -314px;
    width: 92px;
    height: 92px;
    content: ''
}
.giftpop:after {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../img/sp_e_dao.png);
    background-position: -941px -314px;
    width: 92px;
    height: 92px;
    content: ''
}
.giftpop__wrp {
    padding-top: 47px;
    text-align: center
}
.giftpop__wrp:after {
    background-image: url(../img/sp_e_dao.png);
    background-position: 0px -314px;
    width: 276px;
    height: 178px;
    margin-top: 18px;
    content: ''
}
.giftpop--ice:after {
    background-position: 0px -314px;
    width: 276px;
    height: 178px
}
.giftpop--entry:after {
    background-position: 0px -114px;
    width: 276px;
    height: 196px
}
.giftpop--etc:after {
    background-position: -280px -114px;
    width: 348px;
    height: 151px
}
.giftpop__tit {
    font-size: 28px
}
.giftpop__txt {
    margin-top: 9px;
    font-size: 16px;
    color: #888
}
.giftpop .popup__close--white {
    top: 18px;
    right: 17px
}
.giftpop__none {
    padding-top: 50px;
    text-align: center
}
.giftpop__none:before {
    background-image: url(../img/sp_e_dao.png);
    background-position: -280px -314px;
    width: 165px;
    height: 140px;
    content: ''
}
.giftpop__nonetit {
    margin-top: 18px;
    display: block;
    font-size: 28px;
    color: #3ac286
}
.giftpop__nonetxt {
    margin-top: 6px;
    font-size: 18px;
    line-height: 26px
}
