h1, .h1 {
    font-size: 4rem;
}

aside, .aside {
    font-size: 1.4rem;
    opacity: 0.7;
}

/* ------------------------------------------ */

.blind {
    display: none;
}

.marginless {
    margin: 0;
}

.c-white {
    color: #FFF;
}

.c-gray {
    color: #AAA;
}

.c-black {
    color: #222;
}

.c-green {
    color: #4caf50;
}

/* ------------------------------------------ */

body {
    font-family: 'Helvetica Neue', Helvetica, 'Open Sans', 'Segoe UI', Arial, 'PingHei', 'Lantinghei SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei UI', 'Microsoft YaHei', sans-serif;
    font-size: 18px;
}

.header {
    background: none;
    /*border-bottom: 1px solid #EEE;*/
    /**/
    padding: 22px 0;
}

.header h1 img {
    height: 42px;
}

.go-back-to-jsk-home {
    font-size: 1.4rem;
    color: inherit;
    border: 1px solid #999;
    border-radius: 3px;
    /**/
    float: right;
    padding: 10px 18px;

}

/**/

.top-area {
    background: url(../img/main-1.jpg) scroll top no-repeat;
    background-size: cover;
    /**/
    padding: 110px 0 120px;
}

.top-area h2 {
    font-size: 9rem;
    text-shadow: rgba(0, 0, 0, 0.96) 0 1px 6px;
}

.top-area h2 img {
    width: 400px;
    max-width: 90%;
}

.top-area h3 {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.92rem;
    text-shadow: rgba(0, 0, 0, 0.96) 0 1px 4px;
}

.top-area .introductionary-bubble {
    font-size: 2.4rem;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 5000px;
    /**/
    display: inline-block;
    padding: 18px 42px;
    margin: 0 20px;
}

.top-area .introductionary-bubble strong {
    /*font-weight: 300;*/
    color: #4caf50;
}

.top-area .introductionary-bubble a:hover {
    color: #000;
    text-decoration: none;
}

.top-area .contest-entry {
    font-size: 2.4rem;
    font-weight: 600;
    /*color: #FFF;*/
    text-shadow: rgba(0, 0, 0, 0.96) 0 1px 4px;
}

.top-area .contest-entry:hover {
    color: #FFF;
    text-decoration: none;
}

.contest-process {

}

.contest-process ol {
    display: block;
    padding-top: 30px;
}

.contest-process ol > li {
    display: block;
    padding: 0 0 30px;
}

.contest-process h3 {
    margin-bottom: 1em;
}

.contest-process p {
    line-height: 1.62em;
    margin: 0.5em 0;
}

.gift ul, .gift ol, .gift li {
    display: block;
    padding: 0;
    margin: 0;
}

.awards-list li img {
    width: 100%;
}


.bottom-contest-entry {
    padding: 46px 0 30px;
}

.bottom-contest-entry a {
    color: #FFF;
    background: #31CA37;
    border-radius: 16px;
    /**/
    padding-top: 20px;
    padding-bottom: 20px;
    /*margin: 10px auto;*/
    display: inline-block;
}

.bottom-contest-entry a:hover {
    text-decoration: none;
    background: #40B430;
}

.sponsors-and-partners {

}

.sponsors-and-partners h4 {

}

ul.list-of-sponsors-and-partners {
    display: block;
    padding: 0;
    margin: 0;
}

ul.list-of-sponsors-and-partners li {
    display: inline-block;
    margin: 0px;
    max-height: 140px;
}

ul.list-of-sponsors-and-partners.i2 li {
}

ul.list-of-sponsors-and-partners li img {
    display: inline-block;
    height: 90px;
}

ul.list-of-sponsors-and-partners.i2 li img {
    display: inline-block;
    max-width: 110px;
    height: auto;
    max-height: 50px;
    margin: 0 18px;
}

#footer {
    font-size: 14px;
    color: #555;
    background: #FAFAFA;
    padding: 20px 0;
    margin: 40px 0 0;
}

/* ------------------------------------------ */

/* Some media queries */

@media screen and (max-width: 500px) {
    body {
        font-size: 13px;
    }

    .header > * {
        zoom: 0.66;
    }

    .top-area {
        padding: 50px 0 60px;
    }

    .top-area > * {
        font-size: 2.2rem;
        zoom: 0.7;
    }

    .top-area * {
        letter-spacing: normal !important;
    }

    .top-area .introductionary-bubble {
        border-radius: 15px;
    }
}
